<% provide(:title,"Index")%>
<div class="container">
    <div class="container-list">
        <h3>時間アプリへようこそ</h3>
        <p>このアプリのユーザー登録はこちらから=>
        <%= link_to "ユーザー登録ページへ", "#" %>
        </p>
    </div>
</div>